<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.controller.setup.systemcontrol">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MailActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Address" />
        <activity android:name=".Power" />
        <activity android:name=".Color" />
        <activity android:name=".lockstatus" />
        <activity android:name=".Timer" />
        <activity android:name=".bluewifi" />
        <activity android:name=".Welcome_1" />
        <activity android:name=".Welcome_2" />
        <activity android:name=".WifiPassword" />
        <activity android:name=".SetupBluetooth" />
        <activity android:name=".Welcome_6"></activity>
    </application>

</manifest>